{% extends "base.html.twig" %}

{% block title %}App:blog:entry{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Blog tutorial</h1>
            <p class="lead blog-description">A basic description of the blog, built in Symfony, styled in Bootstrap 3, secured by Auth0.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                    
                    <h3>Description:</h3>
                    <p>{{ post.description|raw }}</p>

                    <h3>Body:</h3>
                    <p>{{ post.content|raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
